@import "colors"

*
  margin: 0
  padding: 0

html, body
  background: $primaryColorDark
  height: 100%
  color: $black

a
  text-decoration: none
  color: $primaryColor

  &:hover
    text-decoration: underline
    color: $primaryColorDark

  &:active
    color: $primaryColorDark

.content
  position: relative
  background: #fff
  height: 100%
  display: flex
  flex-direction: row
  align-items: center

.viewport
  display: block
  background: #fff
  overflow: auto
  height: 100%

.viewport-map
  display: block
  height: 100%
  box-sizing: border-box
  flex-grow: 1
  z-index: 0
  position: relative

map
  display: block
  height: 100%
  width: 100%

.viewport-navigator
  width: 20%
  min-width: 14em
  height: 100%
  position: relative
  background: $white
  overflow: auto
  z-index: 1

.viewport-utilities
  width: 20%
  min-width: 14em
  height: 100%
  border-left: 1px solid $borderColor
  position: relative
  background: $white
  overflow: auto
  z-index: 1

@import "navigator"
@import "propertyList"
@import "shortcuts"