@import "colors"

*
  margin: 0
  padding: 0

html, body
  background: $primaryColorDark
  height: 100%
  color: $black

a
  text-decoration: none
  color: $primaryColor

  &:hover
    text-decoration: underline
    color: $primaryColorDark

  &:active
    color: $primaryColorDark

.content
  background: #fff
  height: 100%
  display: flex
  flex-direction: row
  align-items: center

ng-viewport
  display: block
  background: #fff
  overflow: auto
  height: 100%

map
  display: block
  position: absolute
  bottom: 0
  top: 0
  left: 0
  right: 0

.editor-viewport
  box-sizing: border-box
  height: 100%
  position: relative
  flex-grow: 1


.utilities-viewport
  width: 20%
  min-width: 14em
  height: 100%
  border-left: 1px solid $primaryColorDark
  position: relative
  background: $white
  overflow: auto
  order: 2

@import "navigator"